<select id="addNew" class="revType" name="revType">
    <option>Js Developer</option>
    <option>Ruby Developer</option>
    <option>Php Developer</option>

</select>
<select id="addNewType" class="addNewType" name="addNewType">
    <option>Senior</option>
    <option>Junior</option>
    <option>Entry-Level</option>

</select>