<form class="revenue-form" action="/" method="post">
    <div class="rev-title">
        <label for="revInput"><p>Revenue Group Title</p></label>
        <input id="revInput" name="revInput" type="text" placeholder="Revenue title..">
    </div>

    <%- include('./Component/revCondition.ejs') %>
    <div class="rules">
        <div class="rev-rule">
            <div class="rule">
                <div class="ruleNum"></div>

                <!-- addNew 2elemts child -->
                <%- include('./Component/addNew.ejs') %> 

                <div class="insert-rule">
                    <div class="rule-div">
                        <!-- <div> -->
                            <div class="addRule">
                                <input name="addRule" placeholder="insert parameter..." autocomplete="off">
                                <span id="addedRule" class="addedRule">add rule</span>
                            </div>  
                    
                            <div class="icon">
                                <i class="fas fa-minus-circle"></i>
                                <!-- add one more rule  -->
                                <i class="fas fa-plus-circle active"></i>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>

            </div>
        </div>
        <!-- insert New rule -->

        


    </div>



    
    <div class="num">
        <p>then revenue is 
            <input type="text" name="numb" placeholder="only numbers">
        </p>
    </div>
    <div>
        <button class="btn btnYes">Confirm</button>
        <button class="btn btnNo">Cancel</button>
    </div>   
</form>
    