<!-- open modal btn -->
<button data-modal-target class="btn-modal">Revenue Form</button>
<div class="modal" id="modal">
    <%- include('./_modal.ejs') %>
    <%- include('./_form.ejs') %>
</div>
<div data-close-button id="overlay"></div>