<button data-modal-target="#modal" class="btn-modal">Revenue Form</button>
<div class="modal" id="modal">
    <%- include('./_modal.ejs') %>
    <%- include('./_form.ejs') %>
</div>
<div id="overlay"></div>