<header>
    <div class="header-title">
        <h4>My.gov</h4>
        <p>A Gross Domestic Product by state in Malaysia</p>
    </div>
    <div class="input-search">
        <input id="search" type="text" placeholder="Search Malaysia State Revenue.." autocomplete="off">
        <i class="fas fa-search"></i>
        <div id="match-list" class="match-list">
            <!-- from js -->
        </div>
    </div>
</header>