@import "shared/modal.css";
@import "shared/header.css";
@import "shared/container.css";

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    color:#eee;
    padding: 1em .5em;
    background-color: orangered;
}


input{
    border:0;
    border-bottom: 1px solid grey;
    transition: all 250ms ease-in-out;
}

input:focus{
    outline: none;
    border-bottom: 1px solid black;;
}
.rev-title p{
    margin-bottom:0;
}

.revenue-form{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rev-title input{
    width: 100%;  
}

/* Rulesss */
.rules {
    display:flex;
    flex-direction: column;
}

.rule{
    display: grid;
    grid-template-columns:100px 80px auto;
    grid-gap: 5px;
}

.rule select{
    height: 30px;
}

.ruleNum{
    height:20px;
    grid-column: 1 / 5;
}

.insert-rule{
    grid-column: 3 / 5;
}

.rule-div{
    display:flex;
    flex-wrap: wrap;
}

.rule-div input{
    padding: 7px;
    width: 100%;
}

.addRule,
.insertRule{
    position: relative;
}
.addRule{
    width: 90%;
}

.insertRule{
    display:flex;
    width:93%;
}

.addedRule,
.removeText{
    position: absolute;
    top:50%;
    left: calc(100% - 100px);
    transform: translateY(-50%);
    cursor: pointer;
}
.addedRule{
    color: aqua;
}

.removeText{
    color:red;
}

.icon{
    align-self: center;
    justify-self: center;
}

.btn{
    padding: .5em 1em;
    font-weight: 700;
    font-size: 1.2em;
    outline: none;
    color: #eee;
    border:none;
    transition: 250ms all ease-in-out;
}

.btn{
    cursor: pointer;
}

.fa-minus-circle.active,
.fa-plus-circle.active{
    cursor: pointer;
}

.fa-minus-circle{
    opacity: .5;
}

.btnYes{
    background-color: orange;
}
.btnNo{
    background-color: grey
}

.btnYes:hover{
    background-color: rgb(255, 145, 0);
}
.btnNo:hover{
    background-color: rgb(95, 94, 94);
}
