@import "shared/modal.css";

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h3{
    margin: 0;
    color:#eee;
    padding: 1em .5em;
    background-color: orangered;
}


input{
    border:0;
    border-bottom: 1px solid grey;
    transition: all 250ms ease-in-out;
}

input:focus{
    outline: none;
    border-bottom: 1px solid black;;
}
.rev-title p{
    margin-bottom:0;
}

.revenue-form{
    height: 500px;
    display: grid;
}

.rev-title input{
    width: 100%;  
}

.rev-rule{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 100px) auto 50px;
    grid-gap: 5px;
    height: 40px;
}

.insertRule{
    position: relative;
    grid-area: 2 / 3;
}

.rev-title input,
.rev-rule input,
.num input {
    padding: 8px;
}

.addRule span,
.insertRule span{
    position: absolute;
    top:10px;
    font-weight: 600;
    color: rgb(228, 41, 8);
    left: calc(100% - 135px);
    cursor: pointer;
}

.insertRule span{
    left: calc(100% - 80px);
}

.addRule input,
.insertRule input {
    width: 100%;
}

.icon{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    padding: .5em 1em;
    font-weight: 700;
    font-size: 1.2em;
    outline: none;
    color: #eee;
    border:none;
    transition: 250ms all ease-in-out;
}

.fas,
.btn{
    cursor: pointer;
}

.fa-minus-circle{
    opacity: .5;
}

.btnYes{
    background-color: orange;
}
.btnNo{
    background-color: grey
}

.btnYes:hover{
    background-color: rgb(255, 145, 0);
}
.btnNo:hover{
    background-color: rgb(95, 94, 94);
}
